# Rust
/target
Cargo.lock.bak

# Compiled Binary
/build/
*.exe
*.pdb
*.dll
*.so
*.dylib

# Artifact GitHub Actions (if local build)
todo-windows-x64.exe
todo-linux-x64
todo-macos-arm64
todo-macos-x64

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
